/* Navbar.css */
nav {
    background-color: transparent;
    padding: 10px 20px;
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline;
    margin-right: 20px;
  }
  
  li a {
    color: rgb(9, 120, 115);
    text-decoration: none;
  }
  
  li a:hover {
    color: blue;
  
  }
  
}